<!doctype html>
<title>{% block title %}{% endblock %} - Flaskr</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<nav>
  <h1>Dealership Management System</h1>
  <ul>
      <li><a href="{{ url_for('blog.orders') }}">Show Orders</a>
      <li><a href="{{ url_for('blog.inventory') }}">Show Inventory</a>
      <li><a href="{{ url_for('blog.create') }}">Place Order</a>

  </ul>
</nav>
<section class="content">
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
</section>
