{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Order{% endblock %}</h1>
{% endblock %}

{% block content %}
<body>
  <label>Sales
    <input type="text" id = "sales">
  </label>

  <label>Customer
    <input type="text" id = "customer">
  </label>

  <label>Vin
    <input type="text" id = "vin">
  </label>

  <label>OrderNumber
    <input type="text" id = "Order">
  </label>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script type=text/javascript>
    $(function() {
      $('a#buyNew').on('click', function(e) {
        e.preventDefault()
        var sales = document.getElementById("sales").value;
        var customer = document.getElementById("customer").value;
        var vin = document.getElementById("vin").value;

        $.ajax({
          method:"post",
          url:"/buy",
          data:{sales:sales,customer:customer, vin:vin},
          success:function(res){
            $('#myHeader').empty().append(res);
          }
      });
      });
    });
</script>
  
  <script type=text/javascript>
    $(function() {
      $('a#sale').on('click', function(e) {
        e.preventDefault()
        var order = document.getElementById("Order").value;

        $.ajax({
          method:"post",
          url:"/sale",
          data:{order:order},
          success:function(res){
            $('#myHeader').empty().append("Order Success!");
          }
      });
      });
    });
</script>

  <div class='container'>
          <form>
            <a href=# id=buyNew><button class='btn btn-default'>Buy</button></a>
          </form>
          <form>
            <a href=# id=sale><button class='btn btn-default'>Cancel</button></a>
        </form>
  
  </div>
</body>
<h1 id="myHeader"></h1>
{% endblock %}